<div class="btn" id="myBtn">
    <svg width="96mm" height="96mm" viewBox="0 0 96 96" version="1.1" id="svg5"
        inkscape:version="1.1.2 (b8e25be833, 2022-02-05)" sodipodi:docname="desenho.svg"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <g inkscape:label="Camada 1" inkscape:groupmode="layer" id="layer1">
            <path
                style="fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:1.30468;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
                d="M 0.65233847,0.65234014 V 95.342298 l 59.16428853,3e-6 35.498574,-35.508737 -3e-6,-59.18122386 z"
                id="path381" />
            <path
                style="fill:#ffffff;stroke:#ffffff;stroke-width:1.30468;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 64.185333,95.347655 31.162326,-31.144468 -3e-6,31.144466 z" id="path859" />
        </g>
    </svg>
</div><button>Teste</button>